// Font Family
$font-family-default:  			"Raleway", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
/*$font-family-header:  			"Montserrat", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;*/
/*$font-family-header:			"Chivo", sans-serif;*/
/*$font-family-header: 'Archivo Narrow', sans-serif;*/
/*$font-family-header: 'Poppins', sans-serif;*/
/*$font-family-header: 'Oswald', sans-serif;*/
$font-family-header: 'Playfair Display', serif;
$font-family-mono: 				"Inconsolata", monospace;
$font-family-serif:				"Georgia", "Times", "Times New Roman", serif;

$icons: 						"FontAwesome";
